DATABASE_URL="postgresql://user:pass@localhost:5444/toolcenter?schema=public"
JWT_PRIVATE_KEY_PATH="./keys/private.pem"
JWT_PUBLIC_KEY_PATH="./keys/public.pem"
JWT_EXPIRATION="8h"
PORT=3000
NODE_ENV=development
